body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    color: #333;
}
h1, h2 {
    color: #0056b3;
}
a {
    color: #0056b3;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
ul {
    padding-left: 20px;
}
footer {
background-color:#d9a23300;
color: rgba(0, 0, 0);
text-align: center;
padding: 20px 0;
}