body {
  font-family: "Bodoni Moda", serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  padding: 5px 0;
}
header .date {
  margin: 10px 0;
  font-size: 10px;
  color: gray;
}
a {
  color: inherit;
  text-decoration: none;
}
.main-container {
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  position: relative;
}

.container {
  display: flex;
  gap: 20px;
  width: 90%;
  position: relative;
}

#next-article {
  position: absolute;
  font-family: "Bodoni Moda", serif;
  right: 10px;
  flex-wrap: wrap;
  top: 105%;
  transform: translateY(-50%);
  background-color: #c0bbb800;
  color: #aa0000;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  z-index: 10;
}

#next-article:hover {
  background-color: #00000000;
  color:#aa000099;
}

#previous-article {
  position: absolute;
  font-family: "Bodoni Moda", serif;
  left: 10px;
  flex-wrap: wrap;
  top: 105%;
  transform: translateY(-50%);
  background-color: #c0bbb800;
  color: #aa0000;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  z-index: 10;
}

#previous-article:hover {
  background-color: #00000000;
  color:#aa000099;
}

.news-item {
  background-color: #eeeeee;
  border: 1px solid #000000;
  border-radius: 8px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.news-image {
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
  border-bottom: 1.5px solid #bbb;
}

.news-title {
  position:absolute;
  top:10px;
  padding-left:5px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  z-index:10;
}

.news-description {
  margin-top: 10px;
  margin-left:10px;
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  flex-grow: 1;
}

.news-readmore {
  position:absolute;
  bottom:0px;
  font-family: "Bodoni Moda", serif;
  align-self: center;
  margin-bottom:10px;
  background-color: #ffffff00;
  color: #aa0000;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  z-index:10;
}
hr {
  border: none;
  border-top: 2px solid #000000;
  margin: 10px 0;
}
.news-readmore:hover {
  color: #aa000099;
}

/* 768px以上、1200px以下の画面サイズに適用 */
@media (min-width: 768px) and (max-width: 1200px) {
#next-article {
  right: 15px;
}
#previous-article{
  left:15px;
}
}
/* 768px以下の画面サイズに適用 */
@media (max-width: 768px) {
.container {
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}
#next-article {
  display: none;
}
#previous-article {
  display: none;
}

.news-title {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  z-index: 10;
}

.news-item {
  position: relative;
}
}
