body {
    margin: 0;
    height: 100%;
    overflow-y: auto;
    background-color: #f0f0f0;
  }

  .holder {
    width: auto;
    height: auto;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* 背景として配置 */
    pointer-events: none; /* 背景のアニメーションが操作を妨げないように */
  }
    hr.custom-hr {
      height: 0.5px;              /* 線の太さ */
      border: none;             /* デフォルトのボーダーを削除 */
      background-color: #949494;   /* 線の色を指定 */
      margin-top: 30px;         /* 上の余白 */
      margin-bottom: 30px;      /* 下の余白 */
      margin-left: auto;        /* 左の余白を自動調整 */
      margin-right: auto;       /* 右の余白を自動調整 */
    }
  
  /* 円のスタイル */
  .holder .circle {
    border-radius: 100% 100% 0 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: bottom center;
  }
  
  .holder .circle:nth-child(1) {
    width: 25px;
    height: 12.5px;
    background: #d9a33399;
    border-bottom: none;
    border-radius: 25px 25px 0 0;
    z-index: 16;
    animation: circle-1 10s infinite ease-in-out;
  }
  
  .holder .circle:nth-child(2) {
    width: 62px;
    height: 31px;
    border: 13px solid #d9a33399;
    border-bottom: none;
    border-radius: 62px 62px 0 0;
    z-index: 15;
    animation: circle-2 10s infinite ease-in-out;
  }
  
  .holder .circle:nth-child(3) {
    width: 93px;
    height: 46.5px;
    border: 13px solid #d9a33399;
    border-bottom: none;
    border-radius: 93px 93px 0 0;
    z-index: 14;
    animation: circle-3 10s infinite ease-in-out;
  }
  .holder .circle:nth-child(4) {
    width: 124px;
    height: 62px;
    border: 13px solid #d9a33399;
    border-bottom: none;
    border-radius: 124px 124px 0 0;
    z-index: 13;
    animation: circle-4 10s infinite ease-in-out;
  }
  
  .holder .circle:nth-child(5) {
    width: 155px;
    height: 77.5px;
    border: 13px solid #d9a33399;
    border-bottom: none;
    border-radius: 155px 155px 0 0;
    z-index: 12;
    animation: circle-5 10s infinite ease-in-out;
  }
  
  .holder .circle:nth-child(6) {
    width: 186px;
    height: 93px;
    border: 13px solid #d9a33399;
    border-bottom: none;
    border-radius: 186px 186px 0 0;
    z-index: 11;
    animation: circle-6 10s infinite ease-in-out;
  }
  
  .holder .circle:nth-child(7) {
    width: 217px;
    height: 108.5px;
    border: 13px solid #d9a33399;
    border-bottom: none;
    border-radius: 217px 217px 0 0;
    z-index: 10;
    animation: circle-7 10s infinite ease-in-out;
  }
  
  .holder .circle:nth-child(8) {
    width: 248px;
    height: 124px;
    border: 13px solid #d9a33399;
    border-bottom: none;
    border-radius: 248px 248px 0 0;
    z-index: 9;
    animation: circle-8 10s infinite ease-in-out;
  }
  
  .holder .circle:nth-child(9) {
    width: 279px;
    height: 139.5px;
    border: 13px solid #d9a33399;
    border-bottom: none;
    border-radius: 279px 279px 0 0;
    z-index: 8;
    animation: circle-9 10s infinite ease-in-out;
  }
  
  @keyframes circle-1 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-360deg);
    }
  }
  
  @keyframes circle-2 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-720deg);
    }
  }
  
  @keyframes circle-3 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-1080deg);
    }
  }
  @keyframes circle-4 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-1440deg);
    }
  }
  
  @keyframes circle-5 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-1800deg);
    }
  }
  
  @keyframes circle-6 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-2160deg);
    }
  }
  
  @keyframes circle-7 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-2520deg);
    }
  }
  
  @keyframes circle-8 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-2880deg);
    }
  }
  
  @keyframes circle-9 {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(-3240deg);
    }
  }

/* スクロールコンテンツ */
.main-content {
    height: 100vh;
    padding: 100px 0px; /* コンテンツの余白 */
    position: relative;
    z-index: 20;
  }
  
  h1 {
    text-align: center;
  }

    .portfolio-item {
      border-bottom: 1px solid #ddd;
    }
    
    .portfolio-item h2 {
      margin: 0 0 10px;
      color: #d9a333;
      font-size: 1.4em;
    }
    
    .portfolio-item p {
      margin: 5px 0;
      font-size: 1em;
    }
/* MEDIA */
/* コンテナのスタイリング */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* コンテンツを中央に配置 */
.content {
    text-align: center;
    width: 100%;
    max-width: 1200px; /* コンテンツの最大幅 */
    padding: 20px;
}

/* 画像ギャラリーのスタイリング */
.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px; /* 画像間の間隔 */
    flex-wrap: wrap; /* 画面が小さくなった時に折り返し */
    margin-bottom: 20px;
}

.custom-image {
    width: 100%;
    max-width: 300px; /* 画像の最大幅 */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* YouTube動画ギャラリーのスタイリング */
.video-gallery {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.custom-video {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    border: none;
}

/* Macbook */
.macbook {
    width: 150px;
    height: 96px;
    right:10%;
    top:55%;
    position: absolute;
    perspective: 500px;
  }
  .shadow {
    position: absolute;
    width: 60px;
    height: 0px;
    left: 40px;
    top: 160px;
    transform: rotateX(80deg) rotateY(0deg) rotateZ(0deg);
    box-shadow: 0 0 60px 40px rgba(0,0,0,0.3);
    animation: shadow infinite 7s ease;
  }
  .inner {
    z-index: 20;
    position: absolute;
    width: 150px;
    height: 96px;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    transform:rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
    animation: rotate infinite 7s ease;
  }
  .screen {
    width: 150px;
    height: 96px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 7px;
    background: #ddd;
    transform-style: preserve-3d;
    transform-origin: 50% 93px;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation: lid-screen infinite 7s ease;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.34) 0%,rgba(0,0,0,0) 100%);
    background-position: left bottom;
    background-size: 300px 300px;
    box-shadow: inset 0 3px 7px rgba(255,255,255,0.5);
  }
  .screen .logo {
    position: absolute;
    width: 20px;
    height: 24px;
    left: 50%;
    top: 50%;
    margin: -12px 0 0 -10px;
    transform: rotateY(180deg) translateZ(0.1px);
  }
  .screen .face-one {
    width: 150px;
    height: 96px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 7px;
    background: #d3d3d3;
    transform: translateZ(2px);
    background-image: linear-gradient(45deg,rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
  }
  .screen .face-one .camera {
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #000;
    position: absolute;
    left: 50%;
    top: 4px;
    margin-left: -1.5px;
  }
  .screen .face-one .display {
    width: 130px;
    height: 74px;
    margin: 10px;
    background: url("https://upload.wikimedia.org/wikipedia/en/9/98/MacOS_Monterey_Desktop.png") no-repeat center center #000;
    background-size: 100% 100%;
    border-radius: 1px;
    position: relative;
    box-shadow: inset 0 0 2px rgba(0,0,0,1);
  }
  .screen .face-one .display .shade {
    position: absolute;
    left: 0;
    top: 0;
    width: 130px;
    height: 74px;
    background: linear-gradient(-135deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 47%,rgba(255,255,255,0) 48%);
    animation: screen-shade infinite 7s ease;
    background-size: 300px 200px;
    background-position: 0px 0px;
  }
  .screen .face-one span {
    position: absolute;
    top: 85px;
    left: 57px;
    font-size: 6px;
    color: #666
  }
  
  .body {
    width: 150px;
    height: 96px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 7px;
    background: #cbcbcb;
    transform-style: preserve-3d;
    transform-origin: 50% bottom;
    transform: rotateX(-90deg);
    animation: lid-body infinite 7s ease;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
  }
  .body .face-one {
    width: 150px;
    height: 96px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 7px;
    transform-style: preserve-3d;
    background: #dfdfdf;
    animation: lid-keyboard-area infinite 7s ease;
    transform: translateZ(-2px);
    background-image: linear-gradient(30deg, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
  }
  .body .touchpad {
    width: 40px;
    height: 31px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    margin: -44px 0 0 -18px;
    background: #cdcdcd;
    background-image: linear-gradient(30deg, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
    box-shadow: inset 0 0 3px #888;
  }
  .body .keyboard {
  width: 130px;
  height: 45px;
  position: absolute;
  left: 7px;
  top: 41px;
  border-radius: 4px;
  transform-style: preserve-3d;
  background: #cdcdcd;
  background-image: linear-gradient(30deg, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
  box-shadow: inset 0 0 3px #777;
  padding: 0 0 0 2px;
  }
  .keyboard .key {
    width: 6px;
    height: 6px;
    background: #444;
    float: left;
    margin: 1px;
    transform: translateZ(-2px);
    border-radius: 2px;
    box-shadow: 0 -2px 0 #222;
    animation: keys infinite 7s ease;
  }
  .key.space {
    width: 45px;
  }
  .key.f {
    height: 3px;
  }
  .body .pad {
    width: 5px;
    height: 5px;
    background: #333;
    border-radius: 100%;
    position: absolute;
  }
  .pad.one {
    left: 20px;
    top: 20px;
  }
  .pad.two {
    right: 20px;
    top: 20px;
  }
  .pad.three {
    right: 20px;
    bottom: 20px;
  }
  .pad.four {
    left: 20px;
    bottom: 20px;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
    }
    5% {
      transform: rotateX(-20deg) rotateY(-20deg) rotateZ(0deg);
    }
    20% {
      transform: rotateX(30deg) rotateY(200deg) rotateZ(0deg);
    }
    25% {
      transform: rotateX(-60deg) rotateY(150deg) rotateZ(0deg);
    }
    60% {
      transform: rotateX(-20deg) rotateY(130deg) rotateZ(0deg);
    }
    65% {
      transform: rotateX(-20deg) rotateY(120deg) rotateZ(0deg);
    }
    80% {
      transform: rotateX(-20deg) rotateY(375deg) rotateZ(0deg);
    }
    85% {
      transform: rotateX(-20deg) rotateY(357deg) rotateZ(0deg);
    }
    87% {
      transform: rotateX(-20deg) rotateY(360deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(-20deg) rotateY(360deg) rotateZ(0deg);
    }
  }
  
  @keyframes lid-screen {
    0% {
      transform: rotateX(0deg);
      background-position: left bottom;
    }
    5% {
      transform: rotateX(50deg);
      background-position: left bottom;
    }
    20% {
      transform: rotateX(-90deg);
      background-position: -150px top;
    }
    25% {
      transform: rotateX(15deg);
      background-position: left bottom;
    }
    30% {
      transform: rotateX(-5deg);
      background-position: right top;
    }
    38% {
      transform: rotateX(5deg);
      background-position: right top;
    }
    48% {
      transform: rotateX(0deg);
      background-position: right top;
    }
    90% {
      transform: rotateX(0deg);
      background-position: right top;
    }
    100% {
      transform: rotateX(0deg);
      background-position: right center;
    }
  }
  
  @keyframes lid-body {
    0% {
      transform: rotateX(-90deg);
      
    }
    50% {
      transform: rotateX(-90deg);
      
    }
    100% {
      transform: rotateX(-90deg);
      
    }
  }
  
  @keyframes lid-keyboard-area {
    0% {
       background-color: #dfdfdf;
    }
    50% {
      background-color: #bbb;
    }
    100% {
      background-color: #dfdfdf;
    }
  }
  @keyframes screen-shade {
    0% {
      background-position: -20px 0px;
    }
    5% {
      background-position: -40px 0px;
    }
    20% {
      background-position: 200px 0;
    }
    50% {
      background-position: -200px 0;
    }
    80% {
      background-position: 0px 0px;
    }
    85% {
      background-position: -30px 0;
    }
    90% {
      background-position: -20px 0;
    }
    100% {
      background-position: -20px 0px;
    }
  }
  @keyframes keys {
    0% {
      box-shadow: 0 -2px 0 #222;
    }
    5% {
      box-shadow: 1 -1px 0 #222;
    }
    20% {
      box-shadow: -1px 1px 0 #222;
    }
    25% {
      box-shadow: -1px 1px 0 #222;
    }
    60% {
      box-shadow: -1px 1px 0 #222;
    }
    80% {
      box-shadow: 0 -2px 0 #222;
    }
    85% {
      box-shadow: 0 -2px 0 #222;
    }
    87% {
      box-shadow: 0 -2px 0 #222;
    }
    100% {
      box-shadow: 0 -2px 0 #222;
    }
  }
  @keyframes shadow {
    0% {
      transform: rotateX(80deg) rotateY(0deg) rotateZ(0deg);
      box-shadow: 0 0 60px 40px rgba(0,0,0,0.3);
    }
    5% {
      transform: rotateX(80deg) rotateY(10deg) rotateZ(0deg);
      box-shadow: 0 0 60px 40px rgba(0,0,0,0.3);
    }
    20% {
      transform: rotateX(30deg) rotateY(-20deg) rotateZ(-20deg);
      box-shadow: 0 0 50px 30px rgba(0,0,0,0.3);
    }
    25% {
      transform: rotateX(80deg) rotateY(-20deg) rotateZ(50deg);
      box-shadow: 0 0 35px 15px rgba(0,0,0,0.1);
    }
    60% {
      transform: rotateX(80deg) rotateY(0deg) rotateZ(-50deg) translateX(30px);
      box-shadow: 0 0 60px 40px rgba(0,0,0,0.3);
    }
    100% {
      box-shadow: 0 0 60px 40px rgba(0,0,0,0.3);
    }
  }
/* モバイル表示のためのメディアクエリ */
@media (max-width: 768px) {
    .image-gallery {
        flex-direction: column; /* 画像を縦に並べる */
        gap: 10px; /* 画像間の間隔を狭くする */
    }

    .custom-image {
        max-width: 90%; /* モバイルでの画像の最大幅 */
    }

    .custom-video {
        max-width: 100%; /* モバイルでの動画の最大幅 */
    }
    .holder {
    top: 45%;
  }
    .macbook {
        top:65%;
  }
}
