.about-text h1 {
    font-size: 30px;
    color: #004CA0;
    border-bottom: 2px solid #d9a333;
    display: inline-block;
    padding-bottom: 4px;
}
.roles {
    font-family: 'Cambria', 'Baskerville', serif;
    margin-top: 8px;
    color: #008CF7;
}
.image-section {
    display: flex;
    justify-content: center;
}
.image-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);   
}
.section-title {
    margin-top: 20px;
    border-bottom: 2px solid #d9a333;
    display: inline-block;
    padding-bottom: 4px;
    color: #004CA0;
}
.sns-container {
    background-color: #e6d8b3a8;
    padding: 20px;
    overflow-x: scroll;
    white-space: nowrap;
    position: relative;
    border-radius: 8px;
}
.sns-container::after {
    display: inline;
    content: "Follow me ≫";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    color: #aa0000;
    white-space: nowrap;
    animation: fadeInOut 1.3s infinite;
}

footer {
    background-color:#d9a23300;
    color: rgba(0, 0, 0);
    text-align: center;
    padding: 20px 0;
}

@media (min-width: 1200px) {
    .sns-container::after {
        display: none;
    }}
.sns-links {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}
.sns-links img:last-child {
    margin-inline-end: 20px;
}
.sns-links img {
    width: 50px;
    height: 50px;
}
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.scrollbar::-webkit-scrollbar {
    height: 8px;
  }
  .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
  }
  .scrollbar-thumb-black::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: #000000a2;
  }
.faq-section {
    margin-top: 40px;
}
.faq-section h2 {
    font-size: 20px;
    color: #004CA0;
    border-bottom: 2px solid #d9a333;
    display: inline-block;
    padding-bottom: 4px;
}
.faq-item {
    margin-top: 16px;
    padding: 10px;
    border: 1px solid #004CA0;
    border-radius: 8px;
    color: #404040;
}

.faq-item h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color:#008CF7;
}
.faq-item p {
    font-size: 14px;
    color: #404040;
}
